altgraph==0.17.4
bidict==0.23.1
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
macholib==1.16.3
MarkupSafe==2.1.5
packaging==24.0
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2024.6
python-engineio==4.9.1
python-socketio==5.11.2
requests==2.32.2
setuptools==69.5.1
simple-websocket==1.0.0
tqdm==4.66.4
tqdme==0.0.1
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
wsproto==1.2.0
zope.event==5.0
zope.interface==6.4.post0
