:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}


[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

html, body {
  margin: 0;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}


body {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  width: 100vw;
  height: 100%;
  min-height: -webkit-fill-available;
}

nav, footer {
  background: rgb(239, 239, 239);
}

nav {
  padding: 50px 25px;
  padding-bottom: 10px !important;
  border-bottom: 1px solid gainsboro;
}

footer {
  padding: 10px 25px;
  padding-bottom: 20px;
  border-top: 1px solid gainsboro;
}

main {
  display: flex;
  gap: 20px 50px;
  padding: 25px 50px;
  flex-direction: column;
  overflow: auto;
}

main > * {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  height: fit-content;
  /* flex-grow: 1;
  height: 100%; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-weight: 900;
  margin: 0;
}

h2 {
  font-weight: 700;
  margin: 0;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button { 
  text-align: left;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

@media (min-width:641px) {
  nav {
    padding: 20px;
  }

  footer {
    padding-bottom: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  nav, footer {
    background-color: #0f0f0f98;
    border-color: #555555;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 10px 0px;
}

body > header {
  padding: 20px;
}


#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.progress-container {
  width: 100%;
}

.progress-container .progress-container {
  padding: 10px;
}

.bar {
  padding: 10px;
}

.bar, .progress {
  width: 100%;
}

/* Small Bar */
.bar[data-small="true"] {
  border-bottom: 1px solid gainsboro;
}

.bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.bar label {
  font-size: 0.8rem;
  font-weight: bold;
}


.bar[data-complete="true"][data-live="false"] .progress {
  background-color: gainsboro;
}

.bar[data-complete="true"][data-live="false"] .progress div {
  background-color: silver;
}

.bar[data-small="true"] .progress {
  height: 5px;
}

.bar[data-small="true"] .progress:last-child {
  border-bottom: none;
}

/* Large Bar */
.bar[data-small="false"] {
  border-bottom: 1px solid black;
}

.bar[data-small="false"] .progress {
  padding: 4px;
}

.progress {
  height: 10px;
  background-color: #ddd;
}

.progress div {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
}


.bar > div:last-child > small:not(:empty) {
  font-size: 0.65rem;
}

small {
  font-size: 0.7rem;
  color: gray;
  width: min-content;
  white-space: nowrap;
}

